* {
  font-family: Lato, sans-serif;
}

html {
  box-sizing: border-box;
}

#quote {
  font-size: 20px;
  padding: 100px;
  background-color: #FFFFFF;
  color: black;
  border-radius: 4px;
  text-align: center;
  box-sizing: inherit;
}

body {
  background-color: #000000;
}

h1 {
  color: #FFFFFF;
  margin: auto 0;
  text-align: center;
}
